<nav id="sidebar" class="sidebar sidebar-wrapper">
  <div class="sidebar-header">
    <h3>Yah !</h3>
  </div>
  <div class="sidebar-body">
    <ul class="list-unstyled components">
      <span *ngFor="let menu of menuItems">
        <li *ngIf="menu.subPath.length == 0" routerLinkActive="active">
          <a routerLinkActive="active" routerLink="{{menu.path}}">
            <i class="{{menu.iconClass}}"></i>{{menu.title}}</a>
        </li>
        <li *ngIf="menu.subPath.length != 0">
          <a href="{{ '#' + menu.hrefId}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="{{menu.iconClass}}"></i>{{menu.title}}</a>
          <ul class="collapse list-unstyled" id="{{menu.hrefId}}">
            <li *ngFor="let subMenu of menu.subPath" routerLinkActive="active">
              <a routerLinkActive="active" routerLink="{{menu.path}}"><i
                  class="{{subMenu.iconClass}}"></i>{{subMenu.title}}</a>
            </li>
          </ul>
        </li>
      </span>

      <!-- <li routerLinkActive="active">
        <a routerLinkActive="active" routerLink="/home">
          <i class="fas fa-atlas"></i>Dashboard</a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          Transactions</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Stock in</a>
          </li>
          <li>
            <a href="#">Stock out</a>
          </li>
          <li>
            <a href="#">Adjust stock</a>
          </li>
          <li routerLinkActive="active">
            <a routerLinkActive="active" href="#">Order item</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-atlas"></i>
          Master Data</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#"><i class="fas fa-atlas"></i>Products</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-atlas"></i>Categories</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/home"><i class="fas fa-atlas"></i>Locations</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Accounting</a>
      </li>
      <li>
        <a href="#">Logging</a>
      </li> -->

    </ul>
    <hr>
    <ul class="list-unstyled components">
      <!-- <p>Dummy Heading</p> -->
      <li routerLinkActive="active">
        <a routerLinkActive="active" routerLink="/ui">UI Component</a>
      </li>
    </ul>
    <hr>
    <ul class="list-unstyled CTAs">
      <li>
        <a href="#" class="download">ZZ zz z ..</a>
      </li>
      <li>
        <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">go to bootstrap</a>
      </li>
    </ul>
  </div>


</nav>
