<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Yah !</h3>
    <hr>
  </div>

  <ul class="list-unstyled components">
    <!-- <p>Dummy Heading</p> -->
    <li routerLinkActive="active">
      <a routerLinkActive="active" routerLink="/home">Dashboard</a>
    </li>
    <li >
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
      >
        <!-- <i class="fas fa-atlas"></i> -->
        Master Data</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a href="#">Products</a>
        </li>
        <li>
          <a href="#">Categories</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/home">Locations</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <!-- <i class="fas fa-atlas"></i> -->
        Transactions</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="#">Stock in</a>
        </li>
        <li>
          <a href="#">Stock out</a>
        </li>
        <li>
          <a href="#">Adjust stock</a>
        </li>
        <li routerLinkActive="active">
          <a routerLinkActive="active"  href="#">Order item</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Accounting</a>
    </li>
    <li>
      <a href="#">Logging</a>
    </li>
  </ul>

  <ul class="list-unstyled CTAs">
    <li>
      <a href="#" class="download">ZZ zz z ..</a>
    </li>
    <li>
      <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">go to bootstrap</a>
    </li>
  </ul>
</nav>
