/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

$main-color: $turbo-yellow /*#7386D5*/;
$color-1: $turbo-yellow-50;
$color-2: $turbo-yellow-60;
$color-3: $turbo-yellow-70;
$color-4: $turbo-yellow-80;
$lila-line: $turbo-yellow-70 /*#47748b*/;

$text-sidebar: #6b6b6b /*#fff*/;
$text-sidebar-hover: #6b6b6b /*#fff*/;

.text-sidebar {
  color: $text-sidebar;
}

#sidebar {
  min-height: 100%;
  min-width: 200px;
  max-width: 200px;
  background: $main-color;
  color: $text-sidebar;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: $main-color /*#6d7fcc*/;
}

#sidebar .sidebar-header hr {
  margin-bottom: 0px;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid $lila-line;
}

#sidebar ul p {
  color: $text-sidebar;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a i {
  margin-right: 5px;
}

#sidebar ul li a:hover {
  color: $main-color;
  background: $text-sidebar-hover;
}

#sidebar ul li.active {
  color: $text-sidebar;
  background: $color-2;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: $text-sidebar;
  background: $color-3;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: lila-lighten;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: $text-sidebar;
  color: $main-color;
}

a.article,
a.article:hover {
  background: lila-lighten !important;
  color: $text-sidebar !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
