* {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
}
body {
  background-color: #eeecec !important;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper-body {
  position: relative;
  height: 100vh;
  top: 0;
}

.layout-content {
  position: relative;
  top: 0;
  float: right;
  width: calc(100% - 220px);
  // width: 100%;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

.layout-content.extend {
  width: 100%;
}

.page-content {
  margin: 20px;
}
